page {
  height: 100%;
  background-color: #fff;
  background: linear-gradient(#2b91fd, #fff, 50%);
  background-repeat: no-repeat;
}

.searchbar {
  margin-bottom: 30rpx;
}

.ext-searchbar {
  height: 96rpx;
  background-color: transparent !important;

  .weui-search-bar__cancel-btn {
    color: #fff;
  }
}

.scroll_wrap {
  flex: 1;
  padding: 0 20rpx 160rpx 40rpx;
  background-color: #fff;
  overflow-y: auto;
}

.slide-item {
  height: 100rpx !important;
}

.weui-slide {
  height: 100rpx;
  display: flex;
  align-items: center;
  border-bottom: 1rpx solid #eee;
}

.icon_error {
  margin-right: 10rpx;
}

.empty {
  color: #666;
  margin-top: 40rpx;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.acount-add {
  position: fixed;
  z-index: 99;
  right: 60rpx;
  bottom: 60rpx;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
}