/* pages/wifi/wifi.wxss */
page {
  width: 100%;
}
.wifi-list {
  padding: 20rpx;
  .item {
    display: flex;
    margin-top: 10rpx;
  }
  text {
    margin-right: 20rpx;
    text-align: center;
    &:first-child {
      flex: 1;
      text-align: left;
    }
  }
}
